@model Project_WebApp.ViewModels.Message.Post.PostViewModel
@{
    ViewData["Title"] = "Post";
    Layout = "~/Views/Shared/ProjectLayout.cshtml";
}
<div id="PostsContent">
    <div class="row">
        <div class="ShowPost" id="Post_@Model.Id">
            <div class="row">

                <div class="col-md-2">
                    <img src="~/images/persoon.png" class="rounded-circle ShowPostUserImage" />
                </div>
                <div class="col-md-10 mt-4 mt-md-0">
                    <div id="MessageMenuContainer">
                        <div class="dropdown show ">
                            @if (User.Identity.IsAuthenticated)
                            {
                                @if (Model.User.Id == ViewData["CurrentUser"].ToString())
                                {
                                    <span class="MessageMenuButton" role="button" id="MessageMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-chevron-circle-down"></i>
                                    </span>
                                    <div class="dropdown-menu dropdown-menu-right MessageMenu" aria-labelledby="MessageMenu">
                                        <a asp-controller="Post" asp-action="Editor" asp-route-id="@Model.Id" class="">
                                            <span class="dropdown-item"><i class="fas fa-edit"></i> Bewerken</span>
                                        </a>
                                        <a asp-controller="Post" asp-action="Delete" asp-route-id="@Model.Id" class="">
                                            <span class="dropdown-item"><i class="fas fa-trash-alt"></i> Verwijderen</span>
                                        </a>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <h4>
                        @Model.User.Username
                    </h4>
                    <div>
                        Geplaatst op @Model.Created
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h2 class="ShowPostTitle">
                        @Model.Title
                    </h2>
                    <div>
                        @foreach (var subject in Model.Subjects)
                        {
                            <span class="SubjectTag brandColorBg" id="Subject_@subject.Id">
                                <a class="SubjectTagTooltip" asp-controller="Subject" asp-action="Detail">
                                    @subject.Name
                                    <span class="SubjectTagTooltipText">
                                        Bevat @subject.AmountOfPosts berichten
                                    </span>
                                </a>
                            </span>
                        }
                    </div>
                    <div class="ShowPostTextContainer">
                        @Model.Text
                    </div>
                    <div>
                        @Model.AmountOfLikes Likes
                    </div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="ShowPostLikeAndCommentButtonContainer">
                            <div class="ShowPostLikeAndCommentButtonContainerPart LikeButtonContainer">
                                <i id="btLike_@Model.Id" class="@(Model.LikersIds.Contains(ViewData["CurrentUser"]) ? "fas" : "far") fa-thumbs-up ShowPostLikeAndComment" onclick="PostLike(this, @Model.Id)"></i>
                            </div>
                            <div class="ShowPostLikeAndCommentButtonContainerPart LikeButtonContainer">
                                <span class="CommentButton" id="btnComment_@Model.Id" onclick="AddCommentBox(this, @Model.Id)">
                                    <i class="far fa-comment ShowPostLikeAndComment"></i>
                                </span>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr class="ShowPostHr" />
            <div class="CommentsContainer">
                <div>
                    <h2>
                        Alle antwoorden:
                    </h2>
                </div>
                @foreach (var comment in Model.Comments)
                {
                    <div class="Comment" id="Post_@comment.Id">
                        <div>
                            <div class="row">
                                <div class="col-md-2">
                                    <img src="~/images/persoon.png" class="rounded-circle ShowPostUserImage" />
                                </div>
                                <div class="col-md-10">
                                    <h4>
                                        @comment.User.Username
                                    </h4>
                                    <div>
                                        @Model.Created
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="CommentTextContainer">
                            @comment.Text
                        </div>
                        <div>
                            @comment.AmountOfLikes Likes
                        </div>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="ShowPostLikeAndCommentButtonContainer">
                                <div class="ShowPostLikeAndCommentButtonContainerPart LikeButtonContainer">
                                    <i id="btLike_@Model.Id" class="@(comment.LikersIds.Contains(ViewData["CurrentUser"]) ? "fas" : "far") fa-thumbs-up ShowPostLikeAndComment" onclick="PostLike(this, @comment.Id)"></i>
                                </div>
                                <div class="ShowPostLikeAndCommentButtonContainerPart LikeButtonContainer">
                                    <span class="CommentButton" id="btComment_@comment.Id" onclick="AddCommentBox(this, @Model.Id)">
                                        <i class="far fa-comment ShowPostLikeAndComment"></i>
                                    </span>
                                </div>
                            </div>
                        }
                    </div>
                    @foreach (var subComment in comment.Comments)
                    {
                        <div class="Sub Comment" id="Post_@subComment.Id">
                            <div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <img src="~/images/persoon.png" class="rounded-circle ShowPostUserImage" />
                                    </div>
                                    <div class="col-md-10">
                                        <h4>
                                            @subComment.User.Username
                                        </h4>
                                        <div>
                                            @Model.Created
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="CommentTextContainer">
                                @subComment.Text
                            </div>
                            <div>
                                @subComment.AmountOfLikes Likes
                            </div>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <div class="ShowPostLikeAndCommentButtonContainer">
                                    <div class="ShowPostLikeAndCommentButtonContainerPart LikeButtonContainer">
                                        <i id="btLike_@subComment.Id" class="@(subComment.LikersIds.Contains(ViewData["CurrentUser"]) ? "fas" : "far") fa-thumbs-up ShowPostLikeAndComment" onclick="PostLike(this, @subComment.Id)"></i>
                                    </div>
                                    <div class="ShowPostLikeAndCommentButtonContainerPart LikeButtonContainer">
                                        <span class="CommentButton" id="btComment_@subComment.Id" onclick="AddCommentBox(this, @Model.Id)">
                                            <i class="far fa-comment ShowPostLikeAndComment"></i>
                                        </span>
                                    </div>
                                </div>
                            }
                            @foreach (var subSubComment in subComment.Comments)
                            {
                                <div class="Sub Comment" id="Post_@subSubComment.Id">
                                    <div>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <img src="~/images/persoon.png" class="rounded-circle ShowPostUserImage" />
                                            </div>
                                            <div class="col-md-10">
                                                <h4>
                                                    @subSubComment.User.Username
                                                </h4>
                                                <div>
                                                    @Model.Created
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="CommentTextContainer">
                                        @subSubComment.Text
                                    </div>
                                    <div>
                                        @subSubComment.AmountOfLikes Likes
                                    </div>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <div class="ShowPostLikeAndCommentButtonContainer">
                                            <div class="ShowPostLikeAndCommentButtonContainerPart LikeButtonContainer">
                                                <i id="btLike_@subSubComment.Id" class="@(subSubComment.LikersIds.Contains(ViewData["CurrentUser"]) ? "fas" : "far") fa-thumbs-up ShowPostLikeAndComment" onclick="PostLike(this, @subSubComment.Id)"></i>
                                            </div>
                                            <div class="ShowPostLikeAndCommentButtonContainerPart LikeButtonContainer">
                                                <span class="CommentButton" id="btComment_@subComment.Id" onclick="AddCommentBox(this, @Model.Id)">
                                                    <i class="far fa-comment ShowPostLikeAndComment"></i>
                                                </span>
                                            </div>
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                    }
                    <hr />
                }
            </div>
        </div>
    </div>
</div>